<!-- ./views/index.handlebars -->
<div class="container mt-5">
 <!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<a href="./restaurants/new">Create</a>
<div class="container mt-5">
    <div class="row" id="data-panel">
      <ul>
    {{#each restaurants}}
    <li>
    <div class="col-sm-3">
       <a href="/restaurants/{{this.id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
          <div class="card-body movie-item-body">
            <h6 class="card-title">{{this.name}}</h6>
          </div>
        </div>
      </a>
    </div>
    <a href="./restaurants/{{ this._id }}">detail</a>
      <a href="./restaurants/{{ this._id }}/edit">edit</a>
    </li>
    {{/each}}
    </ul>

  </div>
</div>

