<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{restaurant.name}}</h1>
    <a href="/restaurants/{{ restaurant._id }}/edit">edit</a><!-- 加入這行 -->
    <form action="/restaurants/{{ restaurant._id }}/delete" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>
    <img class="rounded mb-4" src="{{restaurant.image}}" alt="Card image cap" style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
        <strong>Category:</strong>
        {{restaurant.category}}
      </p>

      <p>
        {{restaurant.description}}
      </p>
    </div>
  </div>
</div>